[run]
branch = 1
omit =
    */migrations/*
    */tests.py
source = django_prices_openexchangerates

[report]
exclude_lines =
    noqa
    pragma: no cover
    raise NotImplementedError
    return NotImplemented
